# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\StudyFolder\2021 春\OS\CS302-2021_project2\proj19-process-memory-tracker\proj19-process-memory-tracker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
